<div class="inputContainer">
  <input
    id="{{inputId}}"
    class="{{classInput}}"
    type="{{typeInput}}"
    required
  />
  <label class="labelInput" for="{{inputId}}">{{placeholderInput}}</label>
</div>